<div class="main_block learing_table">

  <div class="row">
    <div class="col-12">
      <p class="title">Organization Event</p>
    </div>
  </div>
  <table class="table mt-2 table-bordered border-bottom-0">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of eventsTableHeader">{{header}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let organizationEvent of organizationEventDataItemList">
        <td>
          <label>{{organizationEvent.name}}</label>
        </td>
        <td>
          <label>{{organizationEvent.timeSpent}}</label>
        </td>
        <td>
          <label>{{organizationEvent.details}}</label>
        </td>
      </tr>
    </tbody>
  </table>

</div>