<div id="main-block">
  <div class="container-fluid">
    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of achievementTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>

    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of selfDevelopmentTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>

    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of skillDevelopmentTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>

    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of recruitmentTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>

    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of brandBuildingTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>

    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of eventsTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>

    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of additionalEffortsTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>

    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of improvementTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>

    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> Achievements</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of accomplishmentTableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let achievement of achievementDataItemList">
            <td>
              <label>{{achievement.timeline}}</label>
            </td>
            <td>
              <label>{{achievement.achievement}}</label>
            </td>
            <td>
              <label>{{achievement.summary}}</label>
            </td>
            <td>
              <label>{{achievement.details}}</label>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>
</div>