<div id="main-block">
  <div class="container-fluid">
    <div class="main_block learing_table indicator-table">

      <!-- <p-tabView class="nav navbar-nav indicator-table">
        <p-tabPanel header="Achievements">
          <app-achievements></app-achievements>
        </p-tabPanel>
        <p-tabPanel header="Self Development">
          <app-self-development></app-self-development>
        </p-tabPanel>
        <p-tabPanel header="Organization Development">
          <app-organization-development></app-organization-development>
        </p-tabPanel>
        <p-tabPanel header="Additional Efforts">
          <app-additional-efforts></app-additional-efforts>
        </p-tabPanel>
        <p-tabPanel header="Retrospective Note">
          <app-retrospective-notes></app-retrospective-notes>
        </p-tabPanel>
      </p-tabView> -->

      <div class="col-sm p-0">
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav">
            <li>
              <a [class.active]="tabValue=='Achievement'" (click)="tabSwitch('Achievement')">
                <i class="fas fa-trophy"></i>
                <span>Achievements</span>
              </a>
            </li>
            <li>
              <a [class.active]="tabValue=='SelfDevelopment'" (click)="tabSwitch('SelfDevelopment')">
                <i class="fas fa-users"></i>
                <span>Self Development</span>
              </a>
            </li>
            <li>
              <a [class.active]="tabValue=='Organization'" (click)="tabSwitch('Organization')">
                <i class="far fa-building"></i>
                <span>Organization Development</span>
              </a>
            </li>
            <li>
              <a [class.active]="tabValue=='Additional'" (click)="tabSwitch('Additional')">
                <i class="fas fa-cart-plus"></i>
                <span>Additional Efforts</span>
              </a>
            </li>
            <li>
              <a [class.active]="tabValue=='Retrospective'" (click)="tabSwitch('Retrospective')">
                <i class="fas fa-user-circle"></i>
                <span>Retrospective Note</span>
              </a>
            </li>
          </ul>
        </nav>
        <app-achievements *ngIf="tabValue=='Achievement'"></app-achievements>
        <app-self-development *ngIf="tabValue=='SelfDevelopment'"></app-self-development>
        <app-organization-development *ngIf="tabValue=='Organization'"></app-organization-development>
        <app-additional-efforts *ngIf="tabValue=='Additional'"></app-additional-efforts>
        <app-retrospective-notes *ngIf="tabValue=='Retrospective'"></app-retrospective-notes>
      </div>


      <div class="col-sm-12 buttons-row text-right p-0">
        <button class="btn btn-default btn-sm" type="button">Cancel</button>
        <button class="btn btn-success btn-sm mr-0" type="submit">Save</button>
      </div>
    </div>
  </div>
</div>