<div id="main-block">
  <div class="container-fluid">
    <app-summary-achievement></app-summary-achievement>
    <app-summary-self-development></app-summary-self-development>
    <app-summary-skill-development></app-summary-skill-development>
    <app-summary-recruitment></app-summary-recruitment>
    <app-summary-organization-brand-building></app-summary-organization-brand-building>
    <app-summary-organization-event></app-summary-organization-event>
    <app-summary-additional-efforts></app-summary-additional-efforts>
    <app-summary-accomplishment></app-summary-accomplishment>
    <app-summary-improvement></app-summary-improvement>
  </div>
</div>