<div id="main-block">
  <div class="container-fluid">
    <div class="main_block learing_table">

      <div class="row">
        <div class="col-12">
          <p class="title">
            <i class="fas fa-user-tie mr-2"></i> My Performance</p>
        </div>
      </div>
      <table class="table mt-2 table-bordered border-bottom-0">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of tableHeader">{{header}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let appraise of appraisesRows" (click)="showAppraisePerformance(appraise)">
            <td>
              <label name="Year">
                {{appraise.year}}
              </label>
            </td>
            <td>
              <label name="Quarter">
                {{appraise.quarter}}
              </label>
            </td>
            <td>
              <label name="Status">
                {{appraise.status}}
              </label>
            </td>
            <td>
              <label name="Manager">
                {{appraise.manager}}
              </label>
            </td>
            <td>
              <label name="Normalizer">
                {{appraise.normalizer}}
              </label>
            </td>
            <td>
              <label name="PublishDate">
                {{appraise.publishDate}}
              </label>
            </td>
            <td>
              <label name="LastUpdateDate">
                {{appraise.lastUpdateDate}}
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>