<div id="main-block">
  <div class="container-fluid">
    <div class="main_block learing_table indicator-table">
      <div class="col-sm p-0">
        <nav class="navbar navbar-inverse">
          <ul class="nav navbar-nav">
            <li>
              <a [class.active]="tabValue=='Achievement'" (click)="tabSwitch('Summary')">
                <i class="fas fa-trophy"></i>
                <span>Achievements</span>
              </a>
            </li>
            <li>
              <a [class.active]="tabValue=='SelfDevelopment'" (click)="tabSwitch('ReviewSummary')">
                <i class="fas fa-users"></i>
                <span>Self Development</span>
              </a>
            </li>
          </ul>
        </nav>
        <summary *ngIf="tabValue=='Summary'"></summary>
        <review-summary *ngIf="tabValue=='ReviewSummary'"></review-summary>>
      </div>


      <div class="col-sm-12 buttons-row text-right p-0">
        <button class="btn btn-default btn-sm" type="button">Cancel</button>
        <button class="btn btn-success btn-sm mr-0" type="submit">Save</button>
      </div>
    </div>
  </div>
</div>