<div class="row">
    <div class="col-12">
      <p class="title">
        <i class="fas fa-user-tie mr-2"></i> My contribution towards organization of events?</p>
    </div>
  </div>
  <table class="table mt-2 table-bordered border-bottom-0">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of eventsTableHeader">{{header}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let field of eventsArray">
        <td>
          <div class="form-group">

            <select class="form-control" id="exampleFormControlSelect1">
              <option *ngFor="let skill of organizationEvent">{{skill.name}}</option>

            </select>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" name="Hours" placeholder="Devoted Hours">
        </td>
        <td>
          <input type="text" class="form-control" name="Details" placeholder="Details">
        </td>
        <td class="group_btn">
          <button class="btn btn-link" title="Edit" (click)="deleteEventsRow(field)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="border-0 p-0">
          <div class="col-sm text-right p-0">
            <a class="text-dark" (click)="addEventsRow()">
              <i class="text-success fas fa-plus-square plusBtn"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>